{% extends 'base.html' %}


{% block content %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/birrifici.css' %}">
<div>
    <div class="container" id="back">
        <h1 style="text-align:center">Catalogo birre</h1>

        {% for birre in object_list %}
        {% if forloop.first %}<div class="row">{% endif %}
            <!-- {% if birre.offerta and } -->

            <div class="col-sm-*" style="margin:4px;">
                <div class="mb-0">
                    <p><a href="modal" data-toggle="modal" data-target="#descrizione_birrifici_{{ forloop.counter }}"> 
                        <img class="list-img" src="{{ birre.bottiglia.url }}"/></a>
                        <strong>
                                <h1 style="text-align:center">{{ birre.nome_birra }}</h1>
                        </strong>
                    </p>
                        {% if birre.offerta %}
                        <div class="blink_me" style="text-align:center; color: darkorange;" id="descrizione">Offerta!
                        </div>
                        {% endif %}

            </div>
            {% if forloop.counter|divisibleby:"2" or forloop.last %}</div>{% endif %}
            {% if forloop.counter|divisibleby:"2" and not forloop.last %}<div class="row">{% endif %}

                <div class="modal fade" id="descrizione_birrifici_{{ forloop.counter }}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel">
                                    {{ birre.birrificio_produttore }} - {{ birre.nome_birra }} </h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="{{ birre.bottiglia.url }}" class="center" style="max-width:20%">
                                <p>
                                   <h1>Stile: {{ birre.qualita }}</h1>
                                    <p  id="descrizione_birrifici_{{ forloop.counter }}" style="font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1600 - 300)));color: Silver ;font-family: 'IM Fell English SC', serif;background-color: rgba(0, 0, 0, 0.1)">{{ birre.recensione }}</p>
                                    </p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}
            {% endblock content %}