{% extends 'base.html' %}


{% block content %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/birrifici.css' %}">
<div id="lista">
    <div class="container" id="back">
        <h1 style="text-align:center">Birre prodotte da {% for birre in birra %} {% if forloop.first %} 
            {{ birre.birrificio_produttore }} {% endif %} {% endfor %}
            <hr>
        </h1>
        {% for birre in birra %}
        {% if forloop.first %}<div class="row">{% endif %}

            <a href="modal" data-toggle="modal" data-target="#descrizione_birrifici_{{ forloop.counter }}">
                <div class="col">
                    <img class="list-img" src="{{ birre.bottiglia.url }}"/>
                    <strong><h1 style="text-align:center">{{ birre.nome_birra }}</h1></strong>
                    
                            {% if birre.esaurita %}
                            <h1 style="text-align:center; color: darkorange"> ESAURITA </h1>
                            {% endif %}
                            {% if birre.offerta %}
                            <h1 class="blink_me"style="text-align:center; color: darkorange;">OFFERTA! </h1>
                            {% endif %}   
                </a>
            
             {% if forloop.counter|divisibleby:forloop.counter %}<div class="row">{% endif %}
                {% if forloop.counter|divisibleby:"1" %}</div>{% endif %}
            <div class="modal fade" id="descrizione_birrifici_{{ forloop.counter }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">
                                {{ birre.nome_birra }} - {{ birre.qualita }}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ birre.bottiglia.url }}" class="center" style="max-width:20%">
                            <p id="descrizione_birrifici_{{ forloop.counter }}" style="font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1600 - 300)));color: Silver ;font-family: 'IM Fell English SC', serif;background-color: rgba(0, 0, 0, 0.1)">
                                {{ birre.recensione }}</p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
        {% endblock content %}