{% extends 'base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/birrifici.css' %}">
    <div class="container" id="back">
        <h1 id="titolo_col">Birrifici</h1>

        {% for birrifici in lista_birrifici %}
        {% if forloop.first %}<div class="row">{% endif %}
            <!-- <div class="row"> -->
            <a href="modal" data-toggle="modal" data-target="#descrizione_birrifici_{{ forloop.counter }}">
            <div class="col">
                    <img class="list-img" src="{{ birrifici.logo.url }}"/>
                    
 
            </div></a>
            {% if forloop.counter|divisibleby:forloop.counter %}<div class="row">{% endif %}
            {% if forloop.counter|divisibleby:"1" %}</div>{% endif %}

            
            <div class="modal fade" id="descrizione_birrifici_{{ forloop.counter }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">
                                {{ birrifici.nome_birrificio }} - {{ birrifici.nazionalita }}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ birrifici.logo.url }}" class="center" style="max-width:20%">
                            <p id="descrizione_birrifici_{{ forloop.counter }}" style="font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1600 - 300)));color: Silver ;font-family: 'IM Fell English SC', serif;background-color: rgba(0, 0, 0, 0.1)">
                                {{ birrifici.descrizione }} <br><a href="{{ birrifici.get_absolute_url }}">Vai alle birre</a></p>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}


            {% endblock content %}