{% extends 'base.html' %}


{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/inferno.css' %}">
<div id="contatti">
    <div class="container">
        <img class="img-fluid" src="{% static 'core/logo-mobile.svg' %}">
    </div>
    <br>


    <div class="container">
        <div class="col-sm">
            <div class="container" id="centrale">
                <h3 id="titolo_col">Chi siamo</h3>
                Siamo dei giovani che vogliono migliorare il modo di bere della gente.
                    il nostro scopo e' scovare nella miriade infinita di birre in commercio, 
                    quelle migliori da proporre, al giusto prezzo e nel contesto perfetto.
                    <br>
                    Da noi puoi sentirti a casa, stare in un ambiente tranquillo e sano.
                    <br>
                    Questo sito vuole essere la nostra vetrina nel mondo internazionale delle birre.
                    <br>
                    Le parole d'ordine sono: BIRRA, MOTO E ROCK'N'ROLL!
                    <br>
                    Che aspetti? Facci una visita, non te ne pertirai... e ricorda:
                    <br>
                    <p style="text-align: center">GO TO HELL! SUCK MY BEER!</p>
                </p>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="col-sm">
            <div class="container" id="centrale">
                <h3 id="titolo_col">Orari:</h3>
                <div class="container">
                    <div class="row">
                        <div class="col" style="text-align: center; color: darkorange">
                            Mattina
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            Da Lunedi pomeriggio a Domenica
                        </div>
                        <div class="col-sm">
                            11:00/14:00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: center; color: darkorange">
                            Sera
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            Tutti i giorni
                        </div>
                        <div class="col-sm">
                            17:00/22:00
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: center; color: darkorange">
                            Da Settembre a Giugno chiusi la domenica mattina e da Giugno a Settembre la Domenica tutto il giorno
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="col-sm">
            <div class="container" id="centrale">
                <h3 id="titolo_col">Vieni a trovarci:</h3>
               
                    <p>Via Azuni 33, Ittiri (Sassari)</p>
                    <div class="map-responsive">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1273.8145788263319!2d8.5671436961427!3d40.593287958854326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12dc5e8397b94951%3A0x7fa7c9e636bda049!2sVia+Azuni%2C+33%2C+07044+Ittiri+SS!5e0!3m2!1sit!2sit!4v1540288635448" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
            </div>

        </div>
    </div>

</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
        To use this code on your website, get a free API key from Google.
        Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
        -->



{% endblock content %}