{% extends 'base.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/inferno.css' %}">
<div id="first_part">
    <div class="container">
        <img class="img-fluid" src="{% static 'core/logo-mobile.svg' %}">
        <br>
        <p id='intro'>For Bikers and Rockers</p>
    </div>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="container" id="centrale">
                    <h3 id="titolo_col">Birre in offerta!</h3>
                    {% for birre in lista_birre_home %}
                    {% if birre.offerta %}
                    <span style="text-align: center;font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300)))">
                        <img src="{{ birre.bottiglia.url }}" style="max-width:20%">
                        <a href="modal" style="color:white; position:center" data-toggle="modal" data-target="#desc_{{ forloop.counter }}">
                            {{ birre.birrificio_produttore }} - {{ birre.nome_birra }}</a>
                        <br>
                        <br>
                    </span>
                    {% endif %}

                    <!-- Modal -->
                    <div class="modal fade" id="desc_{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabel">{{ birre.birrificio_produttore }} -
                                        {{ birre.nome_birra }}</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <br>
                                    <img src="{{ birre.bottiglia.url }}" class="center" style="max-width:20%">
                                    <p id="desc_{{ forloop.counter }}" style="font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1600 - 300)));color: Silver ;font-family: 'IM Fell English SC', serif;background-color: rgba(0, 0, 0, 0.1)">
                                        {{ birre.recensione }}</p>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- END MODAL -->
                    {% endfor %}
                </div>
            </div>

            <!-- COLONNA 2 -->
            <div class="col-sm">

                <div class="container" id="centrale">
                    <h3 id="titolo_col">Ultimi Arrivi!</h3>
                    {% for ultime in lista_birre_home|dictsortreversed:"data_inserimento"|slice:"3" %}

                    <span style="text-align: center;font-size: calc(18px + (28 - 18) * ((100vw - 300px) / (1600 - 300)))">
                        <img src="{{ ultime.bottiglia.url }}" style="max-width:20%">
                        <a href="modal" style="color:white; position:center" data-toggle="modal" data-target="#descrizione_{{ forloop.counter }}">
                            {{ ultime.birrificio_produttore }} - {{ ultime.nome_birra }}</a>
                        <br>
                    </span>
                    <br>

                    <!-- Modal -->
                    <div class="modal fade" id="descrizione_{{ forloop.counter }}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabelseconda" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="exampleModalLabelseconda">
                                        {{ ultime.birrificio_produttore }} -
                                        {{ ultime.nome_birra }}</h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <br>
                                    <img src="{{ birre_offerta.bottiglia.url }}" class="center" style="max-width:20%">
                                    <p id="descrizione_{{ forloop.counter }}" style="font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1600 - 300)));color: Silver ;font-family: 'IM Fell English SC', serif;background-color: rgba(0, 0, 0, 0.1)">
                                        {{ ultime.recensione }}</p>

                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- END MODAL -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>

<br>
<br>
<br>
<div id="second_part">
    <!-- <div class="col-sm"> -->
    <div class="container" id="centrale">
        <!-- da chiedere -->
        <div class="container">
                <h3 id="titolo_col">Birrifici</h3>


            {% for birrifici in lista_birre_home %}
            {% if forloop.first %}<div class="row">{% endif %}
                {% ifchanged birrifici.birrificio_produttore.logo.url %}
                <div class="col-sm-*">
                    <a href="modal" data-toggle="modal" data-target="#descrizione_birrifici_{{ forloop.counter }}">
                        <img class="list-img" src="{{ birrifici.birrificio_produttore.logo.url }}"></a>
                    </div>
                    <br>
                    {% endifchanged %}
                {% if forloop.counter|divisibleby:"10" %}</div>{% endif %}
            {% if forloop.counter|divisibleby:"10" %}<div class="row">{% endif %}

            <div class="modal fade" id="descrizione_birrifici_{{ forloop.counter }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabelbirrifici" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabelbirrifici">
                                {{ birrifici.birrificio_produttore.nome_birrificio }}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <br>
                            <p id="descrizione_birrifici_{{ forloop.counter }}" style="font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1600 - 300)));color: Silver ;font-family: 'IM Fell English SC', serif;background-color: rgba(0, 0, 0, 0.1)">
                                {{ birrifici.birrificio_produttore.descrizione }}</p>
                                <a href="{{ birrifici.birrificio_produttore.get_absolute_url }}">Vai alle birre</a>

                        </div>

                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
        <!-- </div> -->
        <!-- </div> -->

        {% endblock content %}