{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/birrifici.css' %}">
<link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">
<div id="lista">
    <div class="container" id="grid">
        <h1 style="text-align:center">I nostri sponsor
            <br>
        </h1>
        <p id="descrizione" style="font-style: italic; color:darkgoldenrod; background-color: rgba(0, 0, 0, 0.4)">"Chi smette di fare pubblicità per risparmiare soldi è come se fermasse l'orologio per risparmiare il tempo."<br> Henry Ford</p>


        {% for sponsor in object_list %} {% if forloop.first %}
        <div class="row">{% endif %}

            <div class="col-lg-4">
                <div class="card my-1 border border-info border-danger rounded-0">
                    <div class="card-body py-0">
                        <p class="mb-0">
                            <div class="container">
                                <img src="{{ sponsor.logo.url }}" class="center" style="max-width:100%">
                            </div>
                            <br>
                            <strong>
                            <h1 style="text-align:center">{{ sponsor.nome_sponsor }}</h1>
                        </strong>

                            <!-- Button trigger modal -->
                            <button type="button" style="position: center; margin: auto; display:block;" class="btn btn-danger" data-toggle="modal" data-target="#desc_{{ forloop.counter }}">
                            Descrizione
                        </button>
                            <br>

                            <!-- Modal -->
                            <div class="modal fade" id="desc_{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="exampleModalLabel">{{ sponsor.nome_sponsor }}</h3>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                        <div class="modal-body">
                                            <img src="{{ sponsor.logo.url }}" class="center" style="max-width:20%">
                                            <p id="desc_{{ forloop.counter }}" style="font-size: calc(20px + (22 - 20) * ((100vw - 300px) / (1600 - 300)));color: Silver ;font-family: 'IM Fell English SC', serif;background-color: rgba(0, 0, 0, 0.1)">
                                                {{ sponsor.descrizione }}</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"3" %}
        </div>{% endif %} {% if forloop.counter|divisibleby:"3" %}
        <div class="row">{% endif %} {% endfor %}

        </div>
    </div>
    {% endblock content %}