{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'core/logo-mobile.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+English+SC" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="{% static 'css/inferno.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <title>Inferno Club</title>
</head>

<body>
    <!--   
                   ._rGDWM4KKW4mNmDGDWWmmL__
                 _r8\KMM48|/D844d\bK+d@Kb*VM8W_,
               m@@Z88/K4548!,\7YK5((t\Y87)/)TM58j
             :45K5D@)\G\Z,,5(-/-!)D,\DT`K/.(bN))ZG
            d8@D@GZZ,-!L!K`,+D,-.T4K !;!NbL!8-8-(8|
           WMK8K8Wq88N/VLVb\!8,.. 5W- t|!Zr)8!KK:K8m_
          j@88KW4WMW8@888GMK`W5..!-W))\!|K8(W!D|G@DK8D;
         |WM8W8G@!@8W8MK8b8W)GD|!b|4K4|N8W@G8MKW5WM@8GW!
        .88@W8MWMM5PK@8G88@KKWK8Md48D@|VW88W8M8)+\888888L
        :8Z@8@88VZZZZKNV58M8@W88K888@|dM8M(+f!- )-Z884((8,
        K85K4MG)))))X(((5(*D@8DW8K8554(Y/)'!'--/!-(M8Z))8|
        @D@8@)D((((!/\\\)\Y!/(5M4Z))\!'-.!`-! !/'\ 885(58|
       |MMMKW5N)'!-',/!.`.\- !\\\'/,/,/- -.\ - -/--!8K!V8W
       |8M58KDD)\`,\ -..` -,-/-`,-.-!.` !'/,/'/.-(-`W8/!88
       |@8@WDK4!\!! -!---!-,(.((.\--\-`-!`-\.'/ !)!\V4((88
       |8K8M5(())\-,'\`-/-!.---- /!!`!`- !\- -! -! -)8))8W
       |88@88Xt!\!-!-. !-\-.-!`-`,--.'-'\-`/`,. !|-,K8Z/8@
       |8@8@G)ZK-\` -,-,\.`,! /!--`/'-'!-./.-,-,))!-K8((8K
       `8W8K5(D)\--\'\`-( ---!!!!/!`!/.-!--'!,\`((\!4WD)8@
        888@GGZ((!( \- )--'!/.---.'/'!'-'`!` -'-\)-.88K(8K
       :(K88tNZ)-/jZmKLKK-/ -'/\-.`-/.'JjGGdJjJ,/K/ D8W\8b
       VNVZ8)K@//Pf+fM888W!!-`-` --.',448@88+MZmG|! V8W8@/|
       |DGZZ)DKV(.'\:__)Z)8/,'(!!`/,!rG)\!!.! -`+))!/W85(P
       !8K(5(5q)))))7J\((5(4q'\-/-.\4(((/+\)))/!!((\ 88)G|
       |GWG\)Z,`KW//88ND\8888(!! /j8ZDKDNMMM/44,/\)\ K84@;
       !Z8Z//\'!\\.,GKq',|\N5|. -\//(Y' :MLN..M- \)7 @WM5;
       !KKK\((`-`- / ..\((/|V|-'\ \'-!!\\//'!,\`!`(- 8Z8Z
       `DGD)))`/./(\(\)))!!)Z/`!(` '!,\)))_(-\ -,'!!'K((K
        4t(\(\'- /'!\\~!`.-\5;\'/ \`.-! ,\'!'  - ! - N\8!
        V!8\-/ '- -.`.- - -\N /-`- - -- - ',`-  ! .'-b\);
        :'4;-)! --`. - ,!-';|.-(./,/`/'/'! .`  ',-!! b-T-
         ((K`(\-'- !- . .!((/.-\-:-!`-/-` ,',' '.`\-!K /'
         `\) )D!! - -  /))!G`.`!!`( /!)L/ - -` ',,) |`~'
           ` /WZ, -' _f/|/!\!-,',-\-,P\`Kb,- --..(/,!
            !(NZr/ /d\\\44MW(t-!/jW@T-\! DG/')//(((.!
            /)8(K((((//GDZWG@GM445(`/!-,-T5K((K/D))-'
            !(KD8G)\):8WK84W488D@\ ,-./!`,\NN))))Z//
             DDZ|/-//4WW88848ZZ!`,,_j\DW8K8Z-!!!t5(-
             VG)\b!-!.58P~!~\*+((++Y~\!8@P!\(\!!Z))'
             `K/-D))!/)KMm.          .q45`-)-- /K(/
              \K/(/--.+DDG8WD-\+-==/~/Z)\.',// K+/
               K|/D!,'(5888KqL_/j::q!`\-,-..'-d8\'
               !|//;- GM885((!-!)\!,\`-\.--- !DG'
                5-((-\88@))D))J..(\\\)\,/- /-(Wt'
                `|-\G88@~/4KKKDD))))7(!.-`,'/GK!
         ,       `d888@!!DDGt!7/7/`\'\-.'- \MD!
     .-._; -,    d5K4K!\(DZ)!',\-\\-',/'/'/KW~
    /'jW8f d8\ .W8)GZ))\T((\/( !!!,-`.`.\!(W'
   : 48ff j@8WjMZK4Z`KK(NZ)!) !,-,-/.'-\/=8'
   _ ` .,/K888885W*  Y4G)KN/.!,,\-\.-,\rG@'
   48@8W/ V(8K848Z    `NKWNK44(Zj)GGGG5Wf
   `88KM4  88@88@        '~~~~YfM4M4Z+~
    V888@) 5WM8P
     M8Rob.M88f
     `*88888*'
       `YY~'
Paolo Monni 2018
        -->


    <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
        <!-- Brand -->
        <a class="navbar-brand" href="/"><img src="{% static 'core/logo-shadow.svg' %}" style="width: 150px; height: 51px;"></a>
        <!-- 150x71 -->

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link nav-left" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'lista_birrifici' %}">Birrifici</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'lista_birre' %}">Birre</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'lista_sponsor' %}">I nostri sponsor</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'contatti' %}">Contatti<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Shop</a>
                </li>
            </ul>

        </div>
        <div class="navbar-collapse collapse" id="collapsibleNavbar">
            <ul class="ml-auto navbar-nav">
                <li class="nav-link">
                    <a href="https://www.facebook.com/for.bikers.and.rockers/" style="color:white;"><i class="fab fa-facebook-square fa-sm" style="font-size:calc(20px + (33 - 20) * ((100vw - 300px) / (1600 - 300)))"></i></a>
                    <a href="#" style="color:white;"><i class="fab fa-telegram" style="font-size:calc(20px + (33 - 20) * ((100vw - 300px) / (1600 - 300)))"></i></a>
                    <a href="#" style="color:white;"><i class="fab fa-instagram" style="font-size:calc(20px + (33 - 20) * ((100vw - 300px) / (1600 - 300)))"></i></a>
                </li>

            </ul>
        </div>
        </div>

    </nav>

    <hr>
    <hr> {% block content %} {% endblock content %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
</body>

</html>