

h1, h3{
    /* text-align: center; */
    color: red;
    /* font-size: 33px; */
    margin-bottom: 30px;
    margin-top: 30px;
    margin: 20px;
    font-size: calc(15px + (25 - 15) * ((100vw - 300px) / (1600 - 300)));
    /* background-color: rgba(0, 0, 0, 0.1); */
    font-family: 'IM Fell English SC', serif;

}

#back {
    background-color: rgba(0, 0, 0, 0.3);

}
.container{
    margin-top: 12px;
    /* background-color: rgba(0, 0, 0, 0.3); */


}
#descrizione{
    font-size: calc(11px + (20 - 11) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'IM Fell English SC', serif;
}

.card{
    background-color: rgba(0, 0, 0, 0.3);
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }

/* modal */
.modal-body
{
    color: rgb(251, 251, 248,0.8);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content
{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: transparent;
}


.modal-header
{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    background-color: black;
    
}
.modal-title{
    text-align: center;


}
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.list-img{
    max-height: 150px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /* height: auto;
    width: auto; */

}

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {


.list-img{
        max-height: 100px;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        height: auto;
        width: auto;
    
    }
}
