@font-face{
    font-family: Inferno;
    font-style: normal;
    src: url("../core/fonts/336AC7_0_0.ttf");

}
@font-face{
    font-family: docker;
    font-style: normal;
    src: url("../core/fonts/docker.three.ttf");

}
h1, h3{
    text-align: center;
    color: red;
    /* font-size: 33px; */
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: calc(24px + (40 - 24) * ((100vw - 300px) / (1600 - 300)));
    /* background-color: rgba(0, 0, 0, 0.1); */
    font-family: 'IM Fell English SC', serif;

}
.navbar {
    color: rgb(251, 251, 248,0.8);
    font-family: 'Inferno';
    background-color: rgba(0, 0, 0, 0.3)
}
.nav-link{
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
    /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
}


.navbar-collapse.center{
    text-align: center;
}

body{
    background-color: #000000;
    background: url('../core/sfondo7_mod.jpg') center;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    margin: 0;
}

#centrale{
    font-family: 'IM Fell English SC', serif;    
    color: rgb(251, 251, 248,0.8);
    background-color: rgba(0, 0, 0, 0.3);
    font-size: calc(16px + (23 - 16) * ((100vw - 300px) / (1600 - 300)));

}

#titolo_col{
    text-align: center;
    color: red;
    font-size: calc(20px + (33 - 20) * ((100vw - 300px) / (1600 - 300)));    margin-bottom: 30px;
}

.img-fluid{
    max-width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/* .navbar img {
    display:block;
    margin: 0px auto;
} */
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

#intro{
    font-family: docker;
    font-size: calc(20px + (60 - 20) * ((100vw - 300px) / (1600 - 300)));    margin-bottom: 30px;
    text-align: center;
    color:white;
}

/* modal */
.modal-body
{
    color: rgb(251, 251, 248,0.8);
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content
{
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    background-color: transparent;
}


.modal-header
{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    background-color: black;
    
}
.modal-title{
    text-align: center;


}
/* The Close Button */
.close {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.list-img{
    max-height: 150px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /* height: auto;
    width: auto; */

}

@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {


.list-img{
        max-height: 100px;
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        height: auto;
        width: auto;
    
    }
}
